/*-- GENERAL --*/

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3 ,li, button {
    font-family: "Roboto", serif, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a, p, figcaption, label{
    font-family: "Roboto", serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* END GENERALS */

/*-- ROOT --*/
:root{
    --primary-color: rgb(4, 4, 41);
    --secondary-color: rgb(40, 62, 122);
    --contrast-color: rgb(95, 14, 0);
}

/* END ROOT */

/* Section */

section h1{
    margin: 1rem;
    font-size: 1.5rem;
}

/* End section */

/* Form */

form{
    margin: 1rem;
    /* max-width: 400px; */
}

form label{
    display: block;
    margin-top: 1.5rem;
}

#levelsMemberDiv{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

textarea,
select{
    display: block;
}

.inputStyle{
    width: 100%;
    height: 30px;
    border-left: 7px solid red;
    border-radius: 8px;
}

.inputStyle:valid{
    border-left: 7px solid green;
}

input[type="radio"]{
    transform: scale(1.2);
}

textarea{
    width: 100%;
    height: 60px;
}

.button{
    display: block;
    justify-self: center;
    margin-top: .5rem;
    width: 70%;
    height: 3rem;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-size: 20px;
    color: white;
}

.button:hover{
    background-color: var(--contrast-color);
}

/* End Form */

/* Levels */
.levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 1rem;
    margin: 1rem;
    background-color:var(--secondary-color);
    border-radius: 10px 5px;
    
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s ease-out forwards;
}

.levels > p{
    font-family: "Roboto", serif, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
}

.openButton{
    background-color: rgb(179, 179, 179);
    border: 2px solid white;
    padding: .5rem;
}

.openButton:hover{
    background-color: var(--contrast-color);
    color: white;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#memberS{
    display: flex;
    flex-direction: column;
}

/* ------ DIALOG ------ */

dialog{
    justify-self: center;
    align-self: center;
    padding: 1rem;
    width: 400px;
    box-shadow: 0 0 1rem black;
    border-radius: 10px;
}

::backdrop{
    background-color: rgba(31, 39, 59, 0.8);
}

dialog p{
    color: black;
}

.membershipDialog h2{
    background-color: var(--secondary-color);
    padding: .5rem;
    text-align: center;
    color: white;
}

.membershipDialog li{
    font-family: "Roboto", serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    
    margin: 0 1rem 1rem;
}

.membershipDialog h3{
    margin-top: 0.5rem;
}

dialog button{
    position: absolute;
    padding: .2rem;
    font-size: 15px;
    right: 20px;
    top: 23px;
}

/* End Levels */

/* -- HEADER -- */

.pictureName{
    padding: 1rem;
    display: flex;
    background-color: var(--primary-color);
    color: white;
}

.pictureName div{
    align-self: center;
    margin-left: .5rem;
    font-size: 20px;
}

#darkMode{
    position: absolute;
    right: 50px;
    top: 21px;
}

#heroImage{
    width: 100%;
}

/* first navegation bar */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "\2630";
    color: white;
    font-size: 30px;
}

#menu.open::before {
	content: "❌";
    font-size: 25px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(4, 4, 41);
    color: #fff;
    }
    
.navigation .options {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.navigation .options:hover{
    background-color: var(--contrast-color);
}

#navHeader{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#navHeader .navigation{
    overflow: hidden;
}

#navHeader.open{
    grid-template-rows: 1fr;
}

/* END HEADER */

/* -- FOOTER --*/

footer{
    background-color: rgb(4, 4, 41);
    padding: .5rem;
    color: white;
}

footer p{
    margin-top: .5rem;
}

footer img{
    width: 50px;
    height: 40px;
}

.footerSvg{
    margin-top: .5rem;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.lastM{
    color: yellow;
    font-size: 13px;
}

/* END FOOTER */
