*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3 ,li {
    font-family: "Roboto", serif, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p, td, a{
    font-family: "Roboto", serif, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

:root{
    --primary-color: #040429;
    --secondary-color: #283e7a;
    --contrast-color: #5f0e00;
    --third-color: #e1f6ff
}

#storeMembers{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

#storeMembers section {
    margin-bottom: 2.5rem;
}

section{
    box-shadow: 0 5px 5px rgb(148, 148, 148);
    padding: 1rem 0 1rem;
}

section p{
    margin: 0;
}

#storesInfos{
    box-shadow: none;
}

#storesInfos h3{
    text-align: left;
    margin: 1rem;
}

#buttons-image{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: -4rem;
    justify-content: center;
}

.changers{
    display: flex;
    border: 2px solid var(--secondary-color);
    padding: .4rem;
}

.changers:hover{
    background-color: var(--third-color);
}

table {
    border-collapse: collapse; 

}

tr:nth-child(odd){
    background-color: var(--third-color);
}

/* LIST */

#divTable{
    margin: 1rem;
    justify-items: center;
}

#listTable td{
    padding: .5rem;
    font-size: 10px;
}

/* END LIST */


/* -- HEADER -- */
.pictureName img{
    width: 80px;
    height: auto;
    box-shadow: 0 0 8px rgb(104, 104, 104);
}

.pictureName{
    padding: 1rem;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
}

/* first navegation bar */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "\2630";
    color: white;
}

#menu.open::before {
	content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(4, 4, 41);
    color: #fff;
    }
    
.navigation .options {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.navigation .options:hover{
    background-color: var(--contrast-color);
}

#navHeader{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#navHeader .navigation{
    overflow: hidden;
}

#navHeader.open{
    grid-template-rows: 1fr;
}

/* END HEADER */

/* -- FOOTER --*/

footer{
    background-color: rgb(4, 4, 41);
    padding: .5rem;
    text-align: center;
    color: white;
}

footer p{
    margin-top: .5rem;
}

footer img{
    width: 40px;
    height: 30px;
}

.footerFlag{
    margin-top: .5rem;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.lastM{
    color: yellow;
    font-size: 13px;
}

/* END FOOTER */
