*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1, h2, h3{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p, td, a, h5, figcaption, #weather-info{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

:root{
    --primary-color: #36393B;
    --secondary-color: #47AFFF ;
    --third-color: #002E52;
}

/* -- HEADER -- */

.pictureName{
    padding: 1rem;
    display: flex;
    background-color: var(--primary-color);
    color: white;
}

.pictureName div{
    align-self: center;
    margin-left: .5rem;
    font-size: 20px;
}

#circle{
    background-color: #aaa;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

#circle img{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* first navegation bar */

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 2.5rem;
	right: 1rem;
}

#menu::before {
	content: "\2630";
    color: white;
    font-size: 30px;
}

#menu.open::before {
	content: "❌";
    font-size: 25px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: #fff;
    }
    
.navigation .options {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.navigation .options:hover{
    background-color: var(--secondary-color);
}

#navHeader{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#navHeader .navigation{
    overflow: hidden;
}

#navHeader.open{
    grid-template-rows: 1fr;
}

/* END HEADER */

/* -- FOOTER --*/

.footerSvg, 
#pFooter{
    display: flex;
}

#pFooter{
    border-top: 2px solid white
}

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    
}

footer p{
    margin-top: .5rem;
    text-align: center;
}

footer img{
    width: 50px;
    height: 40px;
}

.footerSvg{
    margin-top: .5rem;
    gap: 15px;
    justify-content: center;
}

.footerSvg p {
    position: relative;
    left: -1rem;
    top: .2rem;
}

.lastM{
    color: yellow;
    font-size: 13px;
}

/* END FOOTER */

/* MAIN */

main{
    margin: 1rem;
}

#aboutMe{
    text-align: justify;
}

#aboutMe img{
    display: block;
    width: 50%;
    margin: 1rem 0;
    justify-self: center;
    border: 5px solid var(--primary-color);
}

.division{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--third-color);
    border-radius: 10px;
}

.intoDivision{
    border-bottom: 2px dotted var(--primary-color);
    padding: 0.5rem 0;
    justify-items: center;
    text-align: center;
}

section h3, h1{
    justify-self: center;
}

section p{
    font-size: 20px;
}

section h1 {
    font-size: 2.2rem;
}