@media (min-width: 37.5rem){

    .pictureName img{
        width: 100px;
    }

    .pictureName{
        gap: 50px;
    }
    
    #city img{
        width: 80%;
        height: auto;
    }

    /* #city{
        margin: auto;
    } */

    #menu{
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation .options{
        display: block;
        flex: 1 1 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 5px;
    }

    .homeh1{
        display: inline;
        position: relative;
        left: 2rem;
        top: 1.5rem;
    }

    .gridMain{
        display: grid;
        margin: 2rem;
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }

    #programminCertificate{
        grid-column: 1/3;
    }

    .courses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .certificatesNames{
        padding: 1rem;
        margin: .5rem;
    }

    section{
        box-shadow: 0 0 8px rgb(104, 104, 104);
        margin: .5rem;
    }

    #programminCertificate h3{
        top: -45px;
    }

}